<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
</head>
<body>
<h3>Edit posts</h3>
<p>
    <a th:href="@{/posts}">
        Back to posts list
    </a>
</p>
<div id="form">
    <form action="#" th:action="@{/posts/update}" th:object="${posts}"
          method="POST" novalidate="novalidate" accept-charset="UTF-8">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Title</label>
            <input type="text" th:field="*{title}"/>
        </div>
        <div>
            <label>Content</label>
            <input type="email" th:field="*{content}"/>
        </div>
        <div>
            <label>Created_date</label>
            <input type="text" th:field="*{created_date}"/>
        </div>
        <input type="submit" value="Edit"/>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>